{{> header}}
{{> navbar}}
 <main>
    <section class="contenedor sobre-nosotros">
        <h2 class="titulo">Andrea Gomez</h2>
        <div class="contenedor-sobre-nosotros">
            <img src="images/img.jpg" alt="" class="imagen-about-us">
            <div class="contenido-textos">
                <h3><span>1</span>Contacto</h3>
                <p>
                    Grado: 4 <br>
                    Grupo: F <br>
                    cualquier duda o sugerencia mi correo: <br>
                    Correro : Andygoma89@gmail.com <br>

                Esta es una pagina web dinamica donde podemos encontar 4 pintores con sus 5 obras de arte que mas me gustan de cada uno y con una descripcion.
                <br>
                Espero les guste esta pagina web la hice con mucho entusiasmo y cariño <br>
</p>

                </div>
                     
                </div>
        </div>
    </section>

 

        
    </main>

{{> footer}}