{{> header}}
{{> navbar}}
   <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Definición</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="images/indice.jpg" alt="" class="imagen-about-us" >
                <div class="contenido-textos">


                    <h3><span> 1</span>Obras de Arte</h3>
                    <p> 
                        En el campo del arte, se llama obra de arte a aquella producción que realiza un artista plástico o cualquier individuo, que es el resultado de su creatividad e imaginación, y que expresa, ya sea un concepto o una manifestación sentimental o emocional.
                    </p>
                    <h3><span>2</span>¿ Que es un Pintor?</h3>
                    <p>Se designa como pintor a aquella persona, hombre o mujer, que se dedica a pintar, arte de representar en forma colorida, con diferentes tecnicas, cosas reales o imaginarias, en forma objetiva o abstracta. Puede hacerse en forma profesional o como hobbie. También se llama pintor a quien a través de los colores cubre superficies con el fin de decorarlas o revestirlas, como frentes de vivienda, interiores (paredes internas), aberturas (puertas y ventanas), muebles de interior o exterior, etcétera.</p>
                    <h3><span>2</span> ¿Que es la pintura?</h3>
                    <p>Cuando hablamos de pintura o de artes pictóricas nos referimos a una forma artística que busca representar la realidad gráficamente, empleando para ello formas y colores sobre una superficie, a partir de pigmentos naturales y sintéticos mezclados con sustancias aglutinantes (pinturas).

                        En ese sentido, la pintura echa mano conceptualmente al dibujo, la teoría del color y la composición pictórica, así como a la perspectiva y a otros conocimientos que atañen a la visión y a la física de la luz
                        
                        
                        
                       </p>
                   
                </div>
            </div>
        </section>

      
       
    </main>
{{> footer}}
